@import '../../../sass/colors.sass';
.comment
    padding-top: 20px
    display: -webkit-flex
    display: -ms-flex
    display: flex
    .name-date
        font-size: 1.2rem
        .name-user
            text-transform: uppercase
            color: $textColorBlog
        .name-content
            display: block
            font-weight: 700
            font-size: 1.8rem
    .comment-desc
        padding-top: 5px
        padding-bottom: 5px
        p
            line-height: 1.3
    .reply-likes
        font-size: 1.2rem
        .reply
            display: inline-block
            padding-right: 30px
            text-decoration: underline
            text-transform: uppercase
            color: $textColorBlog
            i
                margin-left: 5px
                font-size: 2rem
        .likes
            display: inline-block
            .like
                font-size: 2rem
                margin-right: 5px
                color: $textColorBlog
