.btn-chat
    background-color: #030
    width: 100%
    padding: 10px 0 9px
    font-size: 1.8rem
    color: #fff
    text-transform: uppercase
    border: 1px solid #fff
    font-weight: 600
    line-height: 1.5
    display: block
    text-align: center
    border-radius: 5px
    &:hover
        color: #fff
        background-color: #86ea8f
    i
        margin-right: 5px
        font-size: 2.5rem
        display: inline-block
        line-height: 1
        vertical-align: middle
        margin-bottom: 3px
.btn-order
    display: block
    border-radius: 5px
    width: 100%
    padding: 20px 0
    background-color: #86ea8f
    border: 1px solid #fff
    text-align: center
    color: #fff
    text-transform: uppercase
    font-size: 1.8rem
    font-weight: 700
    &:hover
        background-color: #14a85c
.btn-discount
    font-weight: 300
    font-size: 1.6rem
    text-transform: uppercase
    padding: 5px 0
    border: 1px solid #fff
    border-radius: 5px
    display: block
    width: 100%
    color: #fff
    text-align: center
    &:hover
        color: #fff
        background-color: #86ea8f
.btn-read-more
    background-color: #030
    display: block
    text-align: center
    color: #fff
    text-transform: uppercase
    padding: 15px 0
    border-radius: 5px
    font-size: 1.8rem
    font-weight: 600
    &:hover
        color: #fff
        background-color: #86ea8f
    i
        margin-right: 3px
        font-size: 1.8rem
        display: inline-block
        line-height: 1
        padding-top: 5px
        font-weight: 600
.btn-footer
    display: block
    position: absolute
    width: 32px
    height: 32px
    background-color: #86ea8f
    right: 30px
    bottom: -15px
    border: 1px solid #fff
    text-align: center
    padding-top: 2px
    font-size: 2rem
    color: #fff
    font-weight: 700
    &:hover
        background-color: #14a85c
        color: #000
    &:visited
        color: #fff
    &.active i
        transform: rotate(180deg)
.btn-order-form
    color: #030
    border: 2px solid #030
    display: inline-block
    padding: 8px 35px
    height: 40px
    font-size: 1.4rem
    text-align: center
    i
        margin-right: 10px
.btn-testimonials
    background-color: #030
    display: block
    width: 100%
    padding: 10px 0
    color: #fff
    text-transform: uppercase
    text-align: center
    font-weight: 700
    &:hover
        background-color: #14a85c
