@media (min-width: 1200px)
    // HEADER
    .header
        .burger
            display: none
    .container
        z-index: 10
        position: relative
@media (max-width: 1199px)
    // HEADER
    .header
        .header-line::before
            display: none
        .header-top
            .toll-free, .call-now
                font-size: 1.3rem
                a span
                    font-size: 1.5rem
            .social
                font-size: 1.5rem
                margin-left: -30px
        .header-nav
            position: relative
            nav
                margin: 0
                padding: 0
                position: relative
                width: 100%
                display: none
                ul
                    width: 100%
                    li
                        display: block
                        text-align: center
                        width: 100%
                        margin-bottom: 20px
        .header-middle .multi-bg
            background: none
            background-image: url(/static/images/img_boy.png)
            background-repeat: no-repeat
            background-position: bottom left
        .btn-order
            margin-top: 0
        .burger
            margin-top: 10px
            display: block
        .header-middle
            padding-top: 10px
            .header-middle-title
                text-align: center
            .header-middle-title2
                margin-top: 10px
                text-align: center
                float: none
            .header-info
                h5
                    padding: 0
    .width-100
        width: 100%
    // 404
    .page-404
        padding: 50px 0
        .multi-bg
            display: none
@media (max-width: 991px)
    .width-991
        width: 100%
        padding-right: 0
        padding-left: 0
    // HEADER
    .header
        .header-top
            display: none
        .burger
            margin-top: calc(100% - 95%)
            &.active
                margin-top: calc(100% - 95%)
        .header-nav ul li
            margin-left: 0
        .header-middle
            padding: 30px 0
            text-align: center
            background-image: none
            background-image: url(/static/images/books_left.png), url(/static/images/book_right.png)
            background-repeat: no-repeat
            background-position: top 50% left, top 50% right
            background-size: 94px 362px
            .btn-order
                margin: 10px 0
                z-index: 3
                position: relative
            .header-info
                padding-left: 0
                h5,p
                    text-align: center
            .btn-chat
                display: none
            .multi-bg
                background: none
                display: none
        .header-footer
            display: none!important
    // BLOG
    .blog
        padding-bottom: 20px
        .post
            padding: 25px 0
            border-bottom: 1px dashed #777
            &:nth-last-child(2)
                padding-bottom: 25px
        .line-dashed
            border: none
            .circle
                display: none
        .left-info
            position: absolute
            z-index: 2
            width: 111px
            .data
                padding: 0
                .month
                    display: inline-block
                .day
                    display: inline-block
            .comments
                padding: 0
                span
                    display: inline-block
                    margin-right: 5px
        .right-blog
            .posted
                text-align: center
            .name-of-blog
                text-align: center
            .continue-reading
                text-align: center
                a
                    display: inline-block
        .blog-navigation
            text-align: center
            padding-top: 20px


@media (max-width: 767px)
    // HEADER
    .header
        .header-middle
            background-size: 70px 362px
            .btn-order
                padding: 15px 0
            .header-middle-title
                position: relative
                z-index: 10
                font-size: 2.5rem
                float: none
            .header-middle-title2
                font-size: 1.8rem
                margin: 90px 0
    // BLOG
    .blog
        padding-top: 0
        .blog-content
            border: none
            padding: 0
    .section-title h1, h2, h3
        font-size: 2.5rem
    .section-title h1, h2, h3
        font-size: 2.5rem
@media (max-width:655px)
    // BLOG
    .blog
        .right-blog
                .continue-reading
                    .btn-read-more
                        width: 50%

@media (max-width:420px)
    // BLOG
    .blog
        .left-info
            .data
                .year
                    display: none

        .right-blog
                .continue-reading
                    .btn-read-more
                        width: 80%
