@import '../../sass/colors.sass'
.single
    padding-top: 50px
    padding-bottom: 50px
    // POST
    .post
        padding-bottom: 50px
        &:nth-child(odd)
            .line-dashed .circle
                background-color: $bgColorSecondary
        &:nth-child(even)
            .line-dashed .circle
                background-color: $btnColorSecondary
    .line-dashed
        border-left: 1px dashed $textColor
        position: relative
        .circle
            width: 15px
            height: 15px
            border-radius: 50%
            display: inline-block
            margin-left: -5px
            position: absolute
            left: -3px
            top: 50%
    .post-content
        padding: 30px 30px 50px 30px
        border: 1px solid $border-blog
    .left-info
        text-align: center
        .data
            background-color: $btnColorPrimary
            border: 1px dashed $textColor
            border-bottom: none
            padding: 20px 0
            color: $white
            font-size: 1.5rem
            .day, .month, .year
                display: block
            .day
                font-size: 2.4rem
        .comments
            background-color: $bgColorPrimary
            border: 1px dashed $textColor
            padding: 20px 0
            span
                margin-bottom: 2px
                display: block
            .number-comment
                font-size: 2.4rem
    .right-blog
        .blog-image
            img
                width: 100%
        .posted
            text-transform: uppercase
            font-size: 1.6rem
            font-weight: 300
            color: $textColorBlog
            padding: 20px 0
            a
                font-weight: 400
                color: $textColorBlog
        .name-of-blog
            padding-bottom: 30px
            span
                font-size: 3.6rem
                color: $textColorSecondary
                line-height: 1
        .continue-reading
            .btn-read-more
                width: 30%
                border-radius: 0
                margin-top: 15px
    // COMMENTS
    .comments-content
        padding-top: 30px
        padding-bottom: 30px
        border-top: 3px solid #eee
        .comment-panel
            padding-top: 30px
            .see-comments
                width: 280px
                .btn-read-more
                    margin-top: 0
                    border-radius: 0
            .comment-navigation
                text-align: left
                padding-top: 15px
                .nav
                    li
                        display: inline-block
                        a
                            display: block
                            width: 20px
                            height: 20px
                            font-size: 1.1rem
                            text-align: center
                            padding-top: 2px
                            color: $textColor
                            border: 1px solid $gray
                            &.active
                                background-color: $btnColorPrimary
                                color: $white


    header
        h3
            text-align: left
        p
            color: $textColorBlog
    .comments-form
        .comment-under
            padding-left: 115px
        .comment
            padding-top: 20px
            display: -webkit-flex
            display: -ms-flex
            display: flex
            .name-date
                font-size: 1.2rem
                .name-user
                    text-transform: uppercase
                    color: $textColorBlog
                .name-content
                    display: block
                    font-weight: 700
                    font-size: 1.8rem
            .comment-desc
                padding-top: 5px
                padding-bottom: 5px
                p
                    line-height: 1.3
            .reply-likes
                font-size: 1.2rem
                .reply
                    display: inline-block
                    padding-right: 30px
                    text-decoration: underline
                    text-transform: uppercase
                    color: $textColorBlog
                    i
                        margin-left: 5px
                        font-size: 2rem
                .likes
                    display: inline-block
                    .like
                        font-size: 2rem
                        margin-right: 5px
                        color: $textColorBlog
    // LEAVE REPLY
    .reply
        sup
            color: $btnColorPrimary
        .reply-form
            padding-top: 30px
            border-top: 3px solid #eee
        .reply-content
            padding-top: 30px
            label
                display: block
                color: $textColor
            input
                width: 100%
                height: 40px
                padding: 10px
                margin-bottom: 10px
                &:last-child
                    margin-bottom: 0
            textarea
                width: 100%
                resize: none
                height: 100px
                padding: 10px
            .btn-read-more
                width: 70%
                float: right
                margin-top: 20px
                border-radius: 0
                width: 280px
