.page-404
    padding-bottom: 80px
    padding-top: 80px
    .multi-bg
        width: 100%
        height: 431px
        background-image: url(/static/images/img_boy.png), url(/static/images/img_books_lamp.png)
        background-position: bottom left, bottom right
        background-size: 488px 322px, 188px 431px
        background-repeat: no-repeat, no-repeat
    .header-middle-title
        line-height: 1
        font-size: 10rem
        display: block
        font-weight: 700
        text-align: center
        text-transform: uppercase
        color: #e84c3d
    .header-middle-title2
        font-size: 3.6rem
        display: block
        font-weight: 600
        text-align: center
        text-transform: uppercase
        color: #e84c3d
    .header-info
        font-weight: 300
        text-align: center
        line-height: 1.3
        padding-top: 15px
        p
            font-size: 2.4rem
            line-height: 1.5
            color: #14a85c
    .btn-discount
        color: #14a85c
        border-color: #14a85c
        width: 150px
        margin: 0 auto
        padding: 10px 0
        margin-top: 10px
        font-weight: 600
    .btn-read-more
        width: 150px
        margin: 0 auto
        padding: 10px 0
        margin-top: 15px
