.menu
    float: right
    margin-top: 20px
    font-size: 1.4rem
    font-weight: 700
    li
        display: inline-block
        margin-left: 10px
        a
            color: #030
            text-transform: uppercase
            &:hover
                color: #e84c3d
                border-bottom: 4px solid #e84c3d
                padding-bottom: 10px
        .active
            color: #e84c3d
            border-bottom: 4px solid #e84c3d
            padding-bottom: 10px
