.my-modal
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.6)
    z-index: 999

.my-modal-main
    position: fixed
    background: white
    width: 80%
    height: auto
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    padding: 50px

.my-modal-close
    text-align: center
    padding-top: 30px


.display-block
    display: block


.display-none
    display: none

.body-overflow
    overflow-y: hidden
