.header
    position: relative
    .header-nav
        padding: 10px 0

    .header-middle
        background-color: #86ea8f
        padding-top: 50px
        .btn-chat
            margin-top: 10px
        .multi-bg
            width: 100%
            height: 432px
            background-image: url(/static/images/img_boy.png), url(/static/images/img_books_lamp.png), url(/static/images/light.png)
            background-position: bottom left, bottom right, bottom -40px right 145px
            background-size: 488px 322px, 188px 431px, 760px 430px
            background-repeat: no-repeat, no-repeat, no-repeat
        .header-middle-title
            font-size: 5.2rem
            display: inline-block
            font-weight: 700
            float: right
            text-transform: uppercase
            color: #fff
        .header-middle-title2
            font-size: 3.6rem
            display: inline-block
            font-weight: 600
            float: right
            text-transform: uppercase
            color: #fff
            margin-top: 20px
        .header-info
            color: #000
            font-weight: 300
            text-align: left
            padding-left: 40px
            padding-top: 15px
            h5
                font-size: 2.7rem
                text-transform: uppercase
                color: #000
                text-align: left
                padding: 10px 0
            p
                font-size: 2rem
    .header-footer
        background-color: #14a85c
        padding: 10px 0
        .btn-discount
            margin-top: 4px
        p
            color: #fff
            font-size: 1.8rem
            padding-top: 5px
            a
                color: #fff
                font-weight: 700
    .burger
        background-color: transparent
        border: none
        display: block
        float: right
        margin-right: 15px
        margin-top: 15px
        outline: none
        transition: all .5s
        .burger-line
            width: 30px
            height: 3px
            margin-bottom: 5px
            display: block
            background-color: #000
            transition: all .5s
            &:last-child
                margin-bottom: 0
        &.active
            margin-top: 20px
            & .burger-line-top
                transform: rotate(135deg)
            & .burger-line-mid
                opacity: 0
                transition-duration: .1s
            & .burger-line-bot
                transform: rotate(45deg)
                margin-top: -15px
