.blog
    padding-top: 50px
    padding-bottom: 50px
    .post
        padding-bottom: 50px
        &:nth-last-child(2)
            padding-bottom: 0
        &:nth-child(odd)
            .line-dashed .circle
                background-color: #14a85c
        &:nth-child(even)
            .line-dashed .circle
                background-color: #fab916
    .line-dashed
        border-left: 1px dashed #777
        position: relative
        .circle
            width: 15px
            height: 15px
            border-radius: 50%
            display: inline-block
            margin-left: -5px
            position: absolute
            left: -3px
            top: 50%
    .blog-content
        padding: 30px 30px 50px 30px
        border: 1px solid #eaedf2
    .left-info
        text-align: center
        .data
            background-color: #e84c3d
            border: 1px dashed #777
            border-bottom: none
            padding: 20px 0
            color: #fff
            font-size: 1.5rem
            .day, .month, .year
                display: block
            .day
                font-size: 2.4rem
        .comments
            background-color: #86ea8f
            border: 1px dashed #777
            padding: 20px 0
            span
                margin-bottom: 2px
                display: block
            .number-comment
                font-size: 2.4rem
                cursor: pointer
    .right-blog
        .blog-image
            img
                width: 100%
        .posted
            text-transform: uppercase
            font-size: 1.6rem
            font-weight: 300
            color: #4e4e4e
            padding: 20px 0
            a
                font-weight: 400
                color: #4e4e4e
        .name-of-blog
            padding-bottom: 30px
            a
                font-size: 3.6rem
                color: #030
                line-height: 1
        .continue-reading
            .btn-read-more
                width: 30%
                border-radius: 0
                margin-top: 15px
    .blog-navigation
        text-align: right
        .nav
            li
                display: inline-block
                a
                    display: block
                    width: 20px
                    height: 20px
                    font-size: 1.1rem
                    text-align: center
                    padding-top: 2px
                    color: #777
                    border: 1px solid #eaedf2
                    &.active
                        background-color: #e84c3d
                        color: #fff
