html
    font-size: 62.5%
h1,
h2,
h3,
h4,
h5,
h6
    margin: 0
    padding: 0
    font-weight: 400
    color: #030
p
    padding: 0
    margin: 0
    color: #777
    font-size: 1.4rem
    line-height: 2
h1
    font-size: 3.6rem
    font-weight: 700
    text-align: center
h2
    font-size: 3.6rem
    text-align: center
h3
    font-size: 3rem
    text-align: center
h4
    font-size: 2.8rem
    text-align: center
h5
    font-size: 2.6rem
    text-align: center
h6
    font-size: 2.4rem
    text-align: center
ul
    margin: 0
    padding: 0
    list-style: none
    li
        list-style: none
ul.list-style
    margin: 0
    padding: 0
    list-style: none
    line-height: 2
    font-size: 1.4rem
    color: #777
    li
        list-style: none
        padding-left: 15px
        &:before
            content: "\f105"
            font-family: 'font-awesome'
            color: #86ea8f
            text-align: left
            margin-left: -15px
            padding-right: 10px

ul.list-style-checked
    margin: 0
    padding: 0
    list-style: none
    line-height: 2
    font-size: 1.4rem
    color: #777
    li
        list-style: none
        padding-left: 15px
        &:before
            content: "\f00c"
            font-family: 'font-awesome'
            text-align: left
            margin-left: -15px
            padding-right: 10px
a,
a:hover,
a:active,
a:focus
    text-decoration: none
    outline: none
.social
    padding-top: 4px
    display: flex
    justify-content: space-between
    align-items: center
    a
        width: 30px
        height: 30px
        text-align: center
        position: relative
        perspective: 800px
        overflow: visible
        text-indent: -99999
    i
        font-size: 1.4rem
        color: #fff
        padding: 0
    .pinterest
        color: #fff
        &::before
            content: "\f231"
            padding-top: 4px
            position: absolute
            font-family: 'font-awesome'
            top: 0
            left: 0
            width: 100%
            height: 100%
            display: block
            background-color: #595959
            transition: all .3s
            z-index: 2
        &:after
            content: "\f231"
            padding-top: 4px
            position: absolute
            font-family: 'font-awesome'
            top: 0
            left: 0
            width: 100%
            height: 100%
            display: block
            background-color: #e84c3d
            transition: all .3s
            z-index: 1
            opacity: 0
            transform: translateY(15px) rotateX(-90deg)
        &:hover:before
            opacity: 0
            transform: translateY(-15px) rotateX(90deg)
        &:hover:after
            opacity: 1
            transform: rotateX(0)
    .twitter
        color: #fff
        &::before
            content: "\f099"
            padding-top: 4px
            position: absolute
            font-family: 'font-awesome'
            top: 0
            left: 0
            width: 100%
            height: 100%
            display: block
            background-color: #595959
            transition: all .3s
            z-index: 2
        &:after
            content: "\f099"
            padding-top: 4px
            position: absolute
            font-family: 'font-awesome'
            top: 0
            left: 0
            width: 100%
            height: 100%
            display: block
            background-color: #28c3ff
            transition: all .3s
            z-index: 1
            opacity: 0
            transform: translateY(15px) rotateX(-90deg)
        &:hover:before
            opacity: 0
            transform: translateY(-15px) rotateX(90deg)
        &:hover:after
            opacity: 1
            transform: rotateX(0)
    .facebook
        color: #fff
        &::before
            content: "\f09a"
            padding-top: 4px
            position: absolute
            font-family: 'font-awesome'
            top: 0
            left: 0
            width: 100%
            height: 100%
            display: block
            background-color: #595959
            transition: all .3s
            z-index: 2
        &:after
            content: "\f09a"
            padding-top: 4px
            position: absolute
            font-family: 'font-awesome'
            top: 0
            left: 0
            width: 100%
            height: 100%
            display: block
            background-color: #435c91
            transition: all .3s
            z-index: 1
            opacity: 0
            transform: translateY(15px) rotateX(-90deg)
        &:hover:before
            opacity: 0
            transform: translateY(-15px) rotateX(90deg)
        &:hover:after
            opacity: 1
            transform: rotateX(0)
.section-title
    padding: 40px 0
    h3
        margin-bottom: 20px
.pad_none
    padding-left: 0
    padding-right: 0
.pad_right_none
    padding-right: 0
.pad_left_none
    padding-left: 0
.section-content
    padding-bottom: 50px
// start icons shade
// end icons shade
.main-title
    background-color: #86ea8f
    padding: 15px 0
    color: #fff
    font-weight: 600
    text-align: center
    font-size: 3.6rem
    text-transform: uppercase
    position: relative
.bg-title
    background-color: #14a85c
    padding: 15px
    color: #fff
    text-align: center
    font-size: 2.4rem
.bg-title-lighter
    background-color: #86ea8f
    padding: 15px 0
    color: #fff
    text-align: center
    font-size: 2.4rem
.gray-content
    padding: 30px 25px
    background-color: #eaedf2
    .list-style
        font-size: 1.6rem
.green-content
    background-color: #86ea8f
    padding: 25px
    .list-style
        color: #fff
        font-size: 1.6rem
        li:before
            color: #fff
.gray-bg
    background-color: #eaedf2
    margin-top: 50px
    padding: 15px 0
.mb_none
    margin-bottom: 0
.float_left
    float: left
.float_right
    float: right
.jc_s
    justify-content: flex-start
.jc_c
    justify-content: center
.jc_e
    justify-content: flex-end
.as_e
    align-self: flex-end
.header-line
    position: relative

@import './sass/buttons.sass'
@import './sass/media.sass'
